{block content}
{include 'hlavni_strana_vrchni.latte'}

{* admin menu *}
<div class="kategorie col-lg-12">
<a n:href="Administration:category">Zpět</a>
<a n:href="Administration:pridatkontakt">Přidat Kontakt</a>
<a n:href="Administration:upravitkontakt">Upravit Kontakt</a>
<a n:href="Administration:smazatkontakt">Smazat Kontakt</a>
</div>