{* narozdil od klasicke listy hlavni strana , je tato umistovana jako nejvrchnejsi lista
a ma svetlejsi barvu , je pouzita v admin menu a na strance ktera vyhazuke ze stranek do 
kterych uzivatele nemaji pristup*}
{block content}
<div class="strana col-lg-12">
<a n:href="Homepage:default">Hlavní strana</a>   
</div>
