{* tento soubor obsahuje jen jednoduchou listu s odkazem na hlavni stranu
je pouzit na strankach misto vyctu kategorii tam kde ho nechci*}
{block content}
{* odkaz na hlavni stranu *}
<div class="col-lg-12">
    <div class="kategorie">
	<a n:href="Homepage:default">Hlavní strana</a>
    </div>
    <div class="oddelovacV"></div>
</div>