#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
        GameImagesPath: %wwwDir%/images/Produkty

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
    user: root
    password: 
    dbname: mujeshop
    metadata:
        App: %appDir%



application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
        - App\Model\PokladnaManager
        - App\Model\UserManager
        - App\Model\GamesManager(%GameImagesPath%)
        - App\Model\KontaktManager
        router: App\RouterFactory::createRouter
