{* Latte template *}

{block content}
{include '..\Utrzky\hlavni_strana_vrchni.latte'}

{* upozorneni ze do dane sekce nema uzivatel pristup *}
<div class="col-lg-12">
    <h1 class="cervena">Do této sekce nemáte přístup.</h1>
</div>
