{block content}
{include '..\Utrzky\hlavni_strana_vrchni.latte'}
<div class="kategorie col-lg-12">
    <a n:href="Administration:pridat">Hry</a>
    <a n:href="Administration:pridatkontakt">Kontakty</a>
</div>
<div class="col-lg-12">
<h1 class="vitej">Vítejte v administraci.</h1>
</div>
