{block content}
{* odkaz zpet na pridani hry *}
<div class="strana">
<a n:href="Administration:pridat">Přidání hry</a>
</div>
{* obrazek s navodem *}
<div class="col-lg-12">
    <img class="img-responsive" src="{$basePath}/images/navod.jpg">
</div>
